.Rproj.user
.Rhistory
.RData
.Ruserdata
Maestria_UNSAAC.Rproj
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.aux
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.fls
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.log
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.synctex.gz
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.pdf
1 Fundamentos de Probabilidad/Trabajo_Grupal/bibliog.bib
1 Fundamentos de Probabilidad/Trabajo_Grupal/images/
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.bbl
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.blg
1 Fundamentos de Probabilidad/Trabajo_Grupal/main.fdb_latexmk

Modelos_Lineales/Ejercicios_Script.docx